habitat-challenge/habitat-challenge-data/data
splitnet/data
splitnet/downloaded_data
Icon?
__pycache__
data/
pretrained_models/
tmp/
ppoBaseline/habitat-api
*.pth
train.log
Archive.zip
tb/
video_dir
habitat-api/
habitat-api-old/
tensorboard/
habitat-challenge
*.zip
*.slam